{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>Flingo Planner</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'planner/assets/css/main.css' %}" />

	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{% url 'planner:index' %}" class="image avatar"><img src="{% static 'planner/images/avatar.jpg' %}" alt="" /></a>
					<h1><strong>Hello, my name is Alyona!</strong><br />It's really nice to see you here today!<br />
					</h1>
					<p></p>
					<a href="{% url 'planner:index' %}"><h3>Главная</h3></a>
					<a href="{% url 'planner:topics' %}"><h3>Мой блог</h3></a>
				</div>
			</header>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy; by Sergey Ugryumov</li><li>Email: ugrumov.s.s@gmail.com</li><br /><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'planner/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'planner/assets/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'planner/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'planner/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'planner/assets/js/util.js' %}"></script>
			<script src="{% static 'planner/assets/js/main.js' %}"></script>

	</body>
</html>
{% block content %}{% endblock content %}