{% extends "planner/base_index.html" %}
{% load static %}

{% block content %}
<!-- Main -->

			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>О планере Flingo</h2>
						</header>
						<p> Что такое планер по английскому языку?<br />
							Я бы назвала его интерактивной тетрадью, где хранится список источников и материалов, которые вы используете в изучении английского языка и, конечно же, ваш план занятий на полгода/месяц/неделю.<br />
							Вы сможете отмечать проделанную работу каждый день! Ведь главная цель планера - научить вас заниматься регулярно.<br />
							Кроме того, эта необычная тетрадь содержит в себе разделы для записи тематических слов, практики письма и чтения.<br />
							Планер можно брать с собой повсюду - в дорогу, на занятия - ведь вы также можете записывать грамматические правила и все, что пожелаете.
						</p>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Что я умею</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'planner/images/fulls/01.jpg' %}" class="image fit thumb"><img src="{% static 'planner/images/thumbs/01.jpg' %}" alt="" /></a>
								<h3>Мои параметры</h3>
										<ul>
											<li>Размер - А5 (148*210 мм)</li>
											<li>Бумага - плотная (120 гр/м.кв.), матовая, мелованная</li>
											<li>Обложка - твердая</li>
											<li>Переплет - пружина</li>
											<li>Количество страниц - 132 - рассчитано на полгода.</li>
											<li>Количество разделов - 10</li>
										</ul>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'planner/images/fulls/02.jpg' %}" class="image fit thumb"><img src="{% static 'planner/images/thumbs/02.jpg' %}" alt="" /></a>
								<h3>Кому подойдёт языковой планер?</h3>
									<ul>
										<li>‌Прежде всего, каждый человек, изучающий английский, найдет для себя в нем пользу. Вы сможете отслеживать динамику ваших занятий, и, исходя из этого, планировать дальнейшее изучение английского языка - чтобы каждому навыку уделялось равное количество времени.</li>
										<li>‌Планер подойдёт, как начинающим, так и продвинутым ученикам.</li>
										<li>‌Школьникам для подготовки к ЕГЭ и ОГЭ.</li>
										<li>‌Всем-всем, кто любит организованность и четкий план действий.</li>
										<li>А также творческим людям, которые любят вести дневник и писать</li>
									</ul>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'planner/images/fulls/04.jpg' %}" class="image fit thumb"><img src="{% static 'planner/images/thumbs/04.jpg' %}" alt="" /></a>
								<h3>Содержание планера</h3>
								<p>Составление программы занятий, записи домашнего задания и используемых ресурсов:</p>
								<ul>
									<li>на полгода</li>
									<li>месяц</li>
									<li>и даже на неделю</li>
								</ul>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'planner/images/fulls/05.jpg' %}" class="image fit thumb"><img src="{% static 'planner/images/thumbs/05.jpg' %}" alt="" /></a>
								<h3>Разделы для работы с языком:</h3>
								<ul>
									<li>Reading</li>
									<li>Writing</li>
									<li>Weekly Dairy</li>
									<li>Topical Vocabulary</li>
									<li>Mind-Map</li>
									<li>Lost in Translation</li>
									<li>Grammar Revision</li>
								</ul>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'planner/images/fulls/03.jpg' %}" class="image fit thumb"><img src="{% static 'planner/images/thumbs/03.jpg' %}" alt="" /></a>
								<h3>Отслеживание прогресса</h3>
								<p>Один из моих любимых разделов - это раздел для отслеживания прогресса. Именно заполнение этой страницы продолжает мотивировать меня постоянно заниматься английским. Хочется закрасить как можно больше кружочков, но для этого нужно поработать.<br />
Одна такая страничка рассчитана на 30 дней.<br />
Вверху вы записываете свою цель на месяц, указываете, сколько планируете выучить слов и прочитать страниц.<br />
В конце месяца вы сможете сделать вывод, какому навыку нужно уделить больше времени и внимания.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'planner/images/fulls/06.jpg' %}" class="image fit thumb"><img src="{% static 'planner/images/thumbs/06.jpg' %}" alt="" /></a>
								<h3>Как работать с языковым планером?</h3>
								<p> 1. Прежде всего, ставим цель обучения - зачем вам язык и какой уровень вы хотите достичь<br />
									2. Определяем источники и материалы для ваших занятий. Их можно расписать в первом разделе на каждый месяц<br />
									3. Решаем, сколько слов и идиом вы собираетесь выучить за месяц, а также сколько страниц прочитать<br />
									4. Каждый день отмечаем проделанную работу в трекере (listening/speaking/ reading/ grammar etc). В последствии это поможет понять, над чем стоит больше работать<br />
									5. Составляем to-do lists в недельном планировании, а также тренеруем письмо - описываем прошедшую неделю<br />
									6. Ведём читательский дневник - отмечаем автора, жанр, выписываем понравившиеся цитаты и делимся впечатлениями о книге<br />
									7. Активно работаем с лексикой - подбираем продвинутые синонимы словам уровня elementary - закрепляем на практике в виде письма/эссе<br />
									8. Строим mind-map для запоминания слов/грамматики - можно проявить свое воображение<br />
									9. В разделе Lost in Translation работаем с переводами книг/фильмов. Если вас не устраивает официальный перевод, вы можете придумать свой<br />
									10. Используем пустые страницы на свое усмотрение - для грамматических правил/ занятий<br />
									Активная работа с планером точно поможет разнообразить ваши занятия!
								</p>
							</article>
						</div>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>Связаться со мной</h2>
						<p>You can always ask me some questions about planner, order some<br /> and you can even get an english lessons from me</p>
						<div class="row">
							<div class="col-4 col-12-small">
								<ul class="labeled-icons">
									<li>
										<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
										<a>alenakomogortseva24@gmail.com</a>
									</li>
									<li>
										<h3 class="icon solid fa-mobile-alt"><span class="label">WhatsUpp</span></h3>
										<a>+7(918)964-36-09</a>
									</li>
								</ul>
							</div>
						</div>
					</section>

{% endblock content %}
