{% extends "planner/base.html" %}
{% load static %}

{% block content %}

<div id="main">

<h3>Тема: {{ topic }}</h3>

    <ul>
    {% for entry in entries %}
        <li>
            <h4>{{ entry.date_added|date:'M d, Y H:i' }}</h4>
            <h5>{{ entry.text|linebreaks }}</h5>
            <a href="{% url 'planner:edit_entry' entry.id %}"><h6>Edit entry</h6></a>
        </li>
        {% empty %}
         <li>There are no entries for this topic yet.</li>
         {% endfor %}
    </ul>

<a href="{% url 'planner:new_entry' topic.id %}">Добавить заметку</a>

{% endblock content %}