{% extends "planner/base.html" %}
{% load static %}

{% block content %}
    <header class="major">
        <h2><center><p>Topic: {{ topic }}</p></center></h2>
        <p>Entries:</p>
        <p>
            <a href="{% url 'planner:new_entry' topic.id %}">Add new entry</a>
        </p>
    </header>

<ul>
{% for entry in entries %}
    <li>
        <p><h1>{{ entry.date_added|date:'M d, Y H:i' }}</h1></p>
        <p>{{ entry.text|linebreaks }}</p>
        <p>
          <a href="{% url 'planner:edit_entry' entry.id %}"><h1>Edit entry</h1></a>
        </p>
 </li>
{% empty %}
 <li>There are no entries for this topic yet.</li>
 {% endfor %}
 </ul>

{% endblock content %}